body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    padding-top: 40px;
    background-image: url("assets/image.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.card {
    background: #ffffff;
    padding: 30px 25px;
    width: 340px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    
}

.title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #2c5b7f;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input {
    padding: 12px;
    font-size: 16px;
    width: 80%;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    transition: 0.2s;
}

.input:focus {
    outline: none;
    border-color: #5a9bd8;
    box-shadow: 0 0 5px rgba(90, 155, 216, 0.5);
}

.btn {
    background-color: #2c7cd1;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.25s ease;
}

.btn:hover {
    background-color: #2267b0;
}

.result {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f8ff;
    border: 2px solid #bad2eb;
    border-radius: 10px;
    text-align: center;
    display: none;
}
